

<div class="d-flex justify-content-center align-items-center w-100 bg-light flex-column loginbg" style="width: 100%; height: 100vh;">

{{#if errorDetucted}}


        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Invalid Login!</strong> {{errorDetucted}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

{{/if}}
    <div class="col-lg-5 col-md-8 col-12 border border-muted p-5 rounded bg-white bg-opacity-50 shadow-sm">
        <h1 class="text-center text-primary">Login</h1>
        <hr>
        {{#if successLoginAttempt}}
        <h3 class="text-success">Logged in</h3>
        <a href="/" class="btn btn-success">Get access</a>
        <script>
            setTimeout(() => {
                window.location = '/';
            }, 500);
        </script>
        {{else}}

        <form action="/login" method="post">
            <div class="form-group my-1">
                <label for="exampleInputEmail1">Email address</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    name="email" value="adil.akp1@gmail.com" placeholder="Enter username">
                <small id="emailHelp" class="form-text text-muted d-none">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="form-group my-1">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="userPass" name="password" placeholder="Password"
                    value="asdf1234">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="passcheck1">
                <label class="form-check-label" for="passcheck1"><small>Show/Hide</small></label>
            </div>
            <div class=" p-0 m-0 ">

            <a href="/signup" class=" small text-primary" >Create Account</a> <small class="text-muted">|</small> 
            <a href="/admin" class=" small text-primary">Admin panel</a>
            </div>
            <button type="submit" class="btn btn-primary my-1">Login</button>
        </form>
        {{/if}}
    </div>

</div>

<script>
    document.getElementById('passcheck1').addEventListener('change', () => {
        let userPass = document.getElementById('userPass');
        if (userPass.getAttribute('type') == 'password') {
            userPass.setAttribute('type', 'text');
        } else {
            userPass.setAttribute('type', 'password');
        }
    })
</script>